<div class="row" *ngFor="let productsRow of scoreCountOfLines(products); let lineNumber = index"
     [attr.data-index]=lineNumber>
  <div class="col-lg-4 border table-item" *ngFor="let product of selectLineItems(lineNumber)">
    <div class="container container">
      <div class="row">
        <div class="col text-center">
          {{product.picture}}
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          {{product.name}}
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          {{product.price}}
        </div>
      </div>
    </div>
  </div>
</div>
