doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/common/style.css')
    div.plastika #{title}
    nav
      ul.navigation
        li Магазин
        li Гарантия и возврат
        li Контакты
        li Доставка
        li Изготовление на заказ
        li Корзина
  body
    block content
