body {
  padding: 50px;
  font: 14px "Sulphur Point", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.plastika {
  font-family: 'Sulphur Point', sans-serif;
  font-size: 75px;
  color: #66c6ac;
}
nav {
  width: 73.9130434783%;
  float: left;
  margin-right: 4.347826087%;
  clear: both;
}
.navigation {
  color: #66c6ac;
  padding: 1.618em 1em;
  text-decoration: none;
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
  text-align: left;
  font-family: "Source Sans Pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 1.618;
  text-rendering: optimizeLegibility;
  font-weight: 400;
}
