@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

header {
  box-sizing: content-box;
}
body {
  box-sizing: content-box;
}
footer {
  box-sizing: content-box;
}
div {
  box-sizing: content-box;
}

.navbarName {
  font-family: 'Montserrat', sans-serif;
}
