.navbar-toggler .navbar-toggler-icon {
  width: 15px !important;
  height: 20px !important;
}

.navbar-custom {
  background-color: #ffffff;
}

.underBar {
  margin-left: 0;
  padding-left: 10px;
}

.market{
  font-size: 40px;
  padding-left: 10px;
  font-family: "Source Sans Pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
